body {
    padding-top: 150px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif
}

.container-centered {
    max-width: 960px;
}

footer {
    margin: 50px 0;
}

.brand{ 
	margin: 0px;
 	padding: 0px;
}
.brand img{
	width: auto;
	height : auto;
	max-height: 100%;
 	max-width: 100%;
}


/*This was for old portfolio layout - keep it for now until we're sure we won't use it*/
/*.portfolio-item {
    margin-bottom: 25px;
}*/
