doctype html5
html
  head
    meta(charset='utf-8')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"
    //Bootstrap   
    //Latest compiled and minified CSS 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    //Latest compiled and minified JavaScript 
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='/css/master.css')
    script(src='js/shop-list.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li.active
            a(href='/store') Store
    //Page Content 
    .container
      .store-menu
        //Page Heading 
        .row
          .col-lg-12
            h1.page-header
              | Shop
              small Make me rich
        //Sorting Button 
        .row
          .dropdown-btn.dropdown
            button#dropdownMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
              | Price: highest first
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Price: lowest first
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Name: A-Z
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Name: Z-A
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Most Recent
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Oldest
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Medium: A-Z
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Medium: Z-A
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Size: highest first
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Size: lowest first
        hr
    .container.projects-container
      //Project One 
      .row.project(data-date='4', data-name='awesomecat', data-medium='acrylic', data-size='400', data-price='1000000')
        .col-md-6
          //<a href="/checkout.html"></a>
          img.img-responsive(src='images/3.jpg', alt='')
        .col-md-6
          h3#name Awesome Cat
          h4#medium Acrylic on canvas
          h4#dimension 20 x 20
          h5#date January 4th, 1991
          p#description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
          p#price $1, 000, 000
          a.buy-btn(href='/checkout.html') Buy
      // Project Two 
      .row.project(data-date='1', data-name='cutecat', data-medium='oil', data-size='240', data-price='1000001')
        .col-md-6
          //<a href="/checkout.html"></a>
          img.img-responsive(src='images/3.jpg', alt='')
        .col-md-6
          h3#name Cute Cat
          h4#medium Oil on canvas
          h4#dimension 12.5 x 20
          h5#date January 1st, 1991
          p#description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
          p#price $1, 000, 001
          a.buy-btn(href='/checkout.html') Buy
      // Project Three 
      .row.project(data-date='5', data-name='sweetcat', data-medium='pencil', data-size='200', data-price='1000050')
        .col-md-6
          // <a href="/checkout.html"></a>
          img.img-responsive(src='images/3.jpg', alt='')
        .col-md-6
          h3#name Sweet Cat
          h4#medium Pencil
          h4#dimension 12 x 20
          h5#date January 5th, 1991
          p#description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
          p#price $1, 000, 050
          a.buy-btn(href='/checkout.html') Buy
      //Project Four 
      .row.project(data-date='3', data-name='adorablecat', data-medium='pastel', data-size='300', data-price='1000000000')
        .col-md-6
          //<a href="/checkout.html"></a>
          img.img-responsive(src='images/3.jpg', alt='')
        .col-md-6
          h3#name Adorable Cat
          h4#medium Pastel
          h4#dimension 10 x 30
          h5#date January 3rd, 1991
          p#description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
          p#price $1, 000, 000, 000
          a.buy-btn(href='/checkout.html') Buy
      //Project Five 
      .row.project(data-date='2', data-name='sassycat', data-medium='aquarel', data-size='600', data-price='100')
        .col-md-6
          //<a href="/checkout.html"></a>
          img.img-responsive(src='images/3.jpg', alt='')
        .col-md-6
          h3#name Sassy Cat
          h4#medium Aquarel
          h4#dimension 20 x 30
          h5#date January 2nd, 1991
          p#description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.
          p#price $100
          a.buy-btn(href='/checkout.html') Buy
