doctype html
html
  head
    meta(charset='utf-8')
    title Commission
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='js/sender.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li.active
            a(href='/commission') Commission
          li
            a(href='/store') Store
    h2.text-center Commission Artwork
    .container-fluid.container-centered
      p
        | Want me to create a piece of art for you? Please fill out the form below
        | and I&apos;ll get back to you in a few days.
      form(onSubmit="sendEmail(); return false;" role='form')
        .row
          .col-sm-6
            label.control-label(for='name') Name*
            input#sendername.form-control(type='textbox', name='name')
          .col-sm-6
            label.control-label(for='email') Email*
            input#from.form-control(type='textbox', name='email')
        .row
          .col-sm-6
            label.control-label(for='timeline') Timeline
            |                     
            input.form-control(type='textbox', name='timeline')
          |                 
          .col-sm-6
            label.control-label(for='budget') Budget
            |                     
            input.form-control(type='textbox', name='budget')
        |             
        label.control-label(for='message') Describe the commission
        |             
        textarea#message.form-control(rows='5', name='message')
        |             
        button.btn.btn-default.btn-block(type='submit') Send
