doctype html
html
  head
    meta(charset='utf-8')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script src='https://html5shiv.googlecode.com/svn/trunk/html5.js)
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='js/sender.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a.brand(href='/')
          img.img-responsive.center-block(src='images/logo.png')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li.active
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container-fluid
      .col-xs-8
        h2.text-center Send me a message
        |        
        form#contact-form.form-horizontal(onSubmit="sendEmail(); return false;") 
          .form-group
            label.col-sm-2.control-label(for='name') Name
            |                     
            .col-sm-10
              input#sendername.form-control(name='sendername', type='text')
          |                 
          .form-group
            label.col-sm-2.control-label(for='email') Email Address
            |                     
            .col-sm-10
              input#from.form-control(name='from', type='text')
          |                 
          .form-group
            label.col-sm-2.control-label(for='subject') Subject
            |                     
            .col-sm-10
              input#subject.form-control(name='subject', type='text')
          |                 
          .form-group
            label.col-sm-2.control-label(for='message') Message
            |                     
            .col-sm-10
              textarea#message.form-control(rows='5', name='message')
              |                         
              button.btn.btn-default.btn-block(type='submit') Send
      |         
      .cols-xs-4
        h2.text-center Want to commission a piece of artwork?
        |             
        p.text-center
          | Checkout out the 
          a(href='/commission') Commission page
        |             
        img.center-block(src='images/phone.png', alt='phone')
        |             
        p.text-center ###.###.####
        p
