doctype html
html
  head
    meta(charset='utf-8')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
    // <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js">
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='/js/admin.js')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      |         
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/admin') Manage Artwork
          li.active
            a(href='/edit') Edit Site Info
          li
            a(href='/editbio') Edit About the Artist
          li
            a(href='/edittechnique') Edit About the Art
          li
            a(href='/logout') Logout
    // Page Content
    .container
        .col-sm-6
            h2 Change Site Header
            h4 For best results, image should be about 100px tall
            form(role='form' enctype="multipart/form-data", method='post', action='logo' height='100')
                label.control-label(for='fileUpload') Upload Image
                span.required *
                input(type='file', name='fileUpload', required)
                img.center-block(src='images/logo' height='100')
                button.btn.btn-primary(type='submit') Save
         .col-sm-6
            h2 Change Contact info
            form(role='form', method='post', action='contactinfo')
                .row
                    .col-sm-6
                        label.control-label(for='email') Email Address
                        span.required *
                    .col-sm-6
                        input.form-control(type='textbox' name='email' value=contact.email required)
                .row
                    .col-sm-6
                        label.control-label(for='phone') Phone Number
                        span.required *
                    .col-sm-6
                        input.form-control(type='textbox' name='phone' value=contact.phone required)
                .row
                    button.btn.btn-primary(type='submit') Save
    .container
        h2 Change Front Page Text
        form(role='form' method='post' action='frontpagetext')
            textarea.form-control(rows=7 name='frontpagetext')
                =frontpagetext.text
            button.btn.btn-primary(type='submit') Save
