doctype html
html
  head
    meta(charset='utf-8')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
    // <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js">
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='/js/admin.js')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a.brand(href='/')
          img.img-responsive.center-block(src='images/logo.png')
      |         
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/admin') Manage Artwork
          li.active
            a(href='/edit') Edit Site Info
          li
            a(href='/editbio') Edit About the Artist
          li
            a(href='/edittechnique') Edit About the Art
          li
            a(href='/logout') Logout
    // Page Content
    .container
        .col-sm-6
            h2 Change Site Header
            form(role='form' enctype="multipart/form-data", method='post', action='logo')
                label.control-label(for='fileUpload') Upload Image
                span.required *
                input(type='file', name='fileUpload', required)
                img.img-responsive.center-block(src='images/logo')
                button.btn.btn-primary(type='submit') Save
         .col-sm-6
            h2 Change Contact info
            form(role='form', method='post', action='contact')
                .row
                    .col-sm-6
                        label.control-label(for='fileUpload') Email Address
                        span.required *
                    .col-sm-6
                        input.form-control(type='textbox' name='email' value='someEmail' required)
                .row
                    .col-sm-6
                        label.control-label(for='fileUpload') Phone Number
                        span.required *
                    .col-sm-6
                        input.form-control(type='textbox' name='phone' value='555-555-5555' required)
                .row
                    button.btn.btn-primary(type='submit') Save
    .container
        h2 Change Front Page Text
        form(role='form' method='post' action='info')
            textarea.form-control(rows=7 name='frontpagetext')
                |Welcome to Spencer Wade Art! Feel free to explore the website for the amazing colorblind artist! If you are intersted in browsing Spencer's many paintings, take a look at the gallery. Interested in learnig more about this unique art? Check out our about the art page! Curious who the mysterious Spencer Wade is? Read this for his biography and inspirations. Want to contact Spencer? We have a page for that, too! If you know what you want, feel free to make a comission. Want to buy a specific painting? Try out the store! Literally click any of those links or the nav bar on top and stop reading this dumb flavor text. Please.
            button.btn.btn-primary(type='submit') Save
