doctype html
html
  head
    meta(charset='utf-8')
    |     
    title
    |     
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script src=&quot;https://html5shiv.googlecode.com/svn/trunk/html5.js&quot;&gt;
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='/js/admin.js')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  block body
    - var myMonths = ['---', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Nov','Dec']
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a.brand(href='/')
          img.img-responsive.center-block(src='images/logo.png')
      |         
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/admin') Manage Artwork
          li.active
            a(href='/edit') Change Info
          li
            a(href='/logout') Logout
    // Page Content
    h2 Profile Pic
    h2 Video Link
    h2 Email
    h2 Phone number
    h2 Header Picture
    h2 Front Page text
    h2 About the artwork
    h2 Bio
    h2 Inspiration
