doctype html
html
  head
    meta(charset='utf-8')
    title Spencer Wade Art
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.jcarousel.min.js')
    script(type='text/javascript', src='/js/jcarousel.responsive.js')
    script(type='text/javascript', src='/js/index.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
      #banner
        img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li.active
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container
      .row
        .col-1
          .jcarousel-wrapper
            .jcarousel
              ul
                each val in pictures
                  li
                    img(src=val.imgsrc, alt=val.title)
            a.jcarousel-control-prev(href='#') &lsaquo;
            a.jcarousel-control-next(href='#') &rsaquo;
            p.jcarousel-pagination
      .row
        .col-1
          .container
            h5
              !{frontpagetext.text}
