doctype html
html
  head
    meta(charset='utf-8')
    title Login
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store

    h1.text-center Login

    if message.length > 0
        div.alert
            =message
    
    .text-center
        form(role='form' action="/login" method="post")
            .row
                label Username
                input(type="text" name="username")
            .ros
                label Password
                input(type="password" name="password")
            .row 
                button.btn.btn-default(type="submit") Login
        p
            |Lost? 
            a(href="/")
                | Go back to the home page
