doctype html
html
head
	title Authentication Example
body
	h1 Signup

	if message.length > 0
		div.alert
			=message
	
	form(action="/signup" method="post")
		label Username
		input(type="text" name="username")
		label Password
		input(type="password" name="password")
		button(type="submit") Login

	p
		| Already have an account?
		a(href="/login")
			| Login
	p
		|Or go
		a(href="/")
			| home