doctype html
html
  head
    meta(charset='utf-8')
    title About the Art
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li.active
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container-fluid.container-centered
      .col-xs-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='420' height='315' src=infos.videourl allowfullscreen)
      .col-xs-6
           each val in infos.sections
                h2 
                    !{val.heading}
                p
                    !{val.text}
